{% extends "./base.html" %}
{% load static %}

{% block head %}
<title>Inicio</title>
<link rel="stylesheet" href="{% static 'css/inicio.css' %}">
<link rel="stylesheet" href="{% static 'css/mapa.css' %}">
{% endblock %}


{% block body %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" data-bs-theme="dark">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Carrito</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <table class="table table-striped-columns">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
              </tr>
            </thead>
            <tbody>
                {% for c in car %}
              <tr>
                <td style="display: flex; align-items: center;">
                    <img src="{{c.image.url}}" alt="{{c.nombre}}" style="width: 100px; height: 100px; object-fit: cover; margin-right: 15px;">
                    {{c.nombre}}
                </td>
                <td>{{c.total_precio}}</td>
                <td>
                    {{c.cantidad}}
                    <a href="aumentar/{{c.id}}" style="font-size: 25px; ">+</a>
                    <a href="disminuir/{{c.id}}" style="font-size: 25px; ">-</a>
                    <a href="eliminarCarrito/{{ c.id }}" class="btn btn-danger my-2">Eliminar</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <button class="btn btn-success">Comprar</button>
        
    </div>
</div>


<div class="container-fluid">
    <div class="h1 my-5 text-center border-bottom" style="white-space: pre-line;">Pueden Encontrarnos Aqui
        <i class="bi bi-globe-americas"></i>
    </div>
</div>
<div id="map"></div>

<div class="container-fluid">
    <div class="h1 my-5 text-center border-bottom"></div>
    <div class="h5 my-3 text-center">AstroCorp | Todos los derechos reservados | Santiago de Chile</div>
</div>

{% endblock %}

{% block script %}
<script src="{% static 'js/mapa.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJjKZrYM80SjdaM-0ZdcGpDsqJ4Pu3Tgs&callback=iniciarMap"></script>
{% endblock %}